*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: background-color 1s;
}

body{
    min-height: 100vh;
    background-color: #090c31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #15173c;
    color:white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:0.5rem;
}

.calculator_screen{
    grid-column: 1/-1;
    background-color: #090c31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border: 0.5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    overflow-x: scroll;
}

.calculator_screen::-webkit-scrollbar {
    display: none;
  }

.calculator_btn{
    background-color: #15173c;
    color: white;
    border:0;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 700;
}

.calculator_btn:hover{
    background-color: #090c31;
    transition: background-color 0s;
}

#zero{
    grid-column: span 2;
}

#equal{
    grid-row: span 2;
    background-color: #e6394a;
}

#equal:hover{
    background-color: #e65766;
}

/* Switch - Light Mode to Dark Mode */

.switchMode{
    background-color: white;
    border-radius: 50%;
    width: 0.9rem;
    height: 0.9rem;
    grid-column: 3;
    margin-top: -0.5rem;
    margin-left: -0.75rem;
}

.lightModeBody{
    background-color: #6fae9e;
}

.lightModeSwitch{
    background-color: #090c31;
}

.lightModeCalculator{
    background-color: beige;
    color: black;
}

.lightModeScreen{
    background-color: bisque;
}

.lightModeButtons{
    color: black;
    background-color: #C7E9FB;
}

.lightModeButtons:hover{
    background-color: #9DE2D3;
    transition: background-color 0s;
}